@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #aac5e7;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}




/*MARGINS SECTION*/
.twomil {
  margin-right: 5%;
  margin-bottom: 5%;
}
.mvf {
  margin-bottom: 5%;
}
.oneoften {
  margin-bottom: 5%;
}
.toprow {
  text-align: center;
  margin-top: 3%;
}
.midrow {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 3rem;
}
.midinfo{
  margin-bottom: 1rem;
}
/*MARGINS SECTION*/




/*WAY POINTS SECTION*/
.header{
  padding: 2%;
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-header-animate {
  opacity: 0;
}
.topspots {
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-topspots-animate {
  opacity: 0;
}
.bob {
  margin-top: 5%;
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-bob-animate {
  opacity: 0;
}
.leaf {
  margin-top: 8%;
  margin-bottom: 5%;
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-leaf-animate {
  opacity: 0;
}
.walleye {
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-walleye-animate {
  opacity: 0;
}
.graph {
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-graph-animate {
  opacity: 0;
}
.lakes {
  opacity: 1;
  transition: opacity 500ms ease;
}
.js-lakes-animate {
  opacity: 0;
}
.foot {
  opacity: 0;
  transition: opacity 500ms ease;
}
.js-foot-animate {
  opacity: 1;
}
/*WAY POINTS SECTION*/




/*TITLE SECTION*/
.titlefishing{
  animation: titlefishing-jiggle 2.5s infinite ease-in-out;
  transition: color 1000ms linear;
}
@keyframes titlefishing-jiggle {
  0% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
  25% {
    transform: scale(1, 1);
    transform: rotate(0.5deg);
  }
  50% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
  75% {
    transform: scale(1, 1);
    transform: rotate(0.5deg);
  }
  100% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
}
.titlein{
  animation: titlein-jiggle 4s infinite ease-in-out;
  transition: color 1000ms linear;
}
@keyframes titlein-jiggle {
  0% {
    transform: scale(1, 1);
    transform: rotate(0.3deg);
  }
  25% {
    transform: scale(1.002, 1.002);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1, 1);
    transform: rotate(0.3deg);
  }
  75% {
    transform: scale(1.002, 1.002);
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1, 1);
    transform: rotate(0.3deg);
  }
}
.titlecanada{
  animation: titlecanada-jiggle 3s infinite ease-in-out;
  transition: color 1000ms linear;
}
@keyframes titlecanada-jiggle {
  0% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
  25% {
    transform: scale(1, 1);
    transform: rotate(0.5deg);
  }
  50% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
  75% {
    transform: scale(1, 1);
    transform: rotate(0.5deg);
  }
  100% {
    transform: scale(1.005, 1.005);
    transform: rotate(0deg);
  }
}


.topsandbar {
  background-image: linear-gradient(to bottom, #edc596, #fbd7a7);
  text-align: center;
}
/*TITLE SECTION END*/



/*FIRST SECTION*/
.fishes{
  animation: fishes-jiggle 1s infinite ease-in-out;
  transition: color 1000ms linear;
}
.fishes:hover{
  fill: #2d4171;
}
@keyframes fishes-jiggle {
  0% {
    transform: scale(1.005, 1.005);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.005, 1.005);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.005, 1.005);
  }
}

.bobberin{
  animation: bobberin-jiggle 1s infinite ease-in-out;
}
@keyframes bobberin-jiggle {
  0% {
    transform: scale(1.01, 1.01);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.01, 1.01);
  }
}

.bobberout{
  animation: bobberout-jiggle 1s infinite ease-in-out;
}
@keyframes bobberout-jiggle {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.01, 1.01);
  }
  100% {
    transform: scale(1, 1);
  }
}

.fishinleaf{
  animation: fishinleaf-jiggle 1s infinite ease-in-out;
  fill: #2d4171;
}
@keyframes fishinleaf-jiggle {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.005, 1.005);
  }
  100% {
    transform: scale(1, 1);
  }
}
.fishleaf{
  transition: color 1000ms linear;
}
.fishleaf:hover{
  fill: #d8eaf8;
}
/*FIRST SECTION END*/




/*FOOTER SECTION*/
.footsandbar {
  min-height: 6rem;
  padding: 2%;
  background-image: linear-gradient(to top, #edc596, #fbd7a7);
  text-align: center;
}
/*FOOTER SECTION*/
